{% extends 'base.html.twig' %}

{% block title %}Parts Inventory{% endblock %}

{% block body %}
<h1>Parts in Stock</h1>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Color</th>
        <th>Size</th>
        <th>Details</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for part in parts %}
    <tr>
        <td>{{ part.id }}</td>
        <td>{{ part.name }}</td>
        <td>{{ part.price }}</td>
        <td>{{ part.color }}</td>
        <td>{{ part.size }}</td>
        <td>{{ part.details }}</td>
        <td>
            <a href="{{ path('app_part_show', {'id': part.id}) }}">show</a>
            <a href="{{ path('app_part_edit', {'id': part.id}) }}">edit</a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="7">no records found</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ path('app_part_new') }}">Create new</a>
{% endblock %}