<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bike Gearz - {% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🚴‍♀️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    {# Google Tag Manager #}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ app.request.server.get('GOOGLE_TAG') }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ app.request.server.get('GOOGLE_TAG') }}');
    </script>
</head>
<body>
<div id="wrapper">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ include('layout/_sidebar.html.twig') }}
    {% endif %}
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
                {{ include('layout/_navbar.html.twig') }}
            <div class="container-fluid my-4">

                <div class="list-group mx-5">
                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-success pb-2" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>

                {% block body %}{% endblock %}
            </div>
        </div>
        {{ include('layout/_footer.html.twig') }}
    </div>
</div>
</body>
</html>