{% extends 'base.html.twig' %}

{% block title %}Bicycle{% endblock %}

{% block body %}
    <h1>Bicycle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bicycle.id }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ bicycle.brand }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ bicycle.model }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ bicycle.color }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ bicycle.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ bicycle.description }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ bicycle.category }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_bicycle_index') }}">back to list</a>

    <a href="{{ path('app_bicycle_edit', {'id': bicycle.id}) }}">edit</a>

    {{ include('bicycle/_delete_form.html.twig') }}
{% endblock %}
